<div class="weui-form parcel-form">
    <div class="weui-form__text-area">
        <h2 class="weui-form__title">{{title}}</h2>
        <div class="weui-form__desc"></div>
    </div>
    <div class="weui-form__control-area">
        <div class="weui-panel_access">
            <div class="weui-panel__hd">用户 ID：{{userId}}</div>
            <div class="weui-panel__bd">
                {{#each packages}}
                <a class="weui-media-box weui-media-box_appmsg" href="/package/{{_id}}">
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">拼箱： {{_id}}</h4>
                        <p class="weui-media-box__desc">状态： {{status}}</p>
                    </div>
                </a>
                {{/each}}
                {{#unless packages}}
                <div class="weui-cell">
                    <p class="weui-media-box__desc">没有拼箱</p>
                </div>
                {{/unless}}
            </div>
            <div class="weui-panel__ft">
                <a href="/user/profile" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">个人信息</div>
                    <span class="weui-cell__ft"></span>
                </a>    
            </div>
        </div>
    </div>
</div>