<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}-海运拼箱</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {{{_sections.style}}}
    {{#if ENV_DEVELOPMENT}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</head>
<body>
  <header>
    <div class="mainMenuBtn">
        <a href="/" class="menu__icon">
            <img src="/img/mainMenu.svg" alt="包裹登记" >
        </a>
    </div>
    <div class="logo">{{title}} - 海运拼箱</div>
    <div class="userLogo">
        <input type="checkbox" id="menu-check" class="mobile-check" />
        <label href="javascript:;" class="menu__icon" for="menu-check">
            <img src="/img/account.svg" alt="会员中心" >
        </label>
        <nav class="mobile-nav">
            <div class="navbar-item"><a href="/profile">账号管理</a></div>
            <div class="navbar-item"><a href="/orders">订单历史</a></div> 
            <i></i>
        </nav>
    </div>
  </header>

  {{{body}}}

  <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__links">
            <a href="javascript:home();" class="weui-footer__link">海运拼箱</a>
        </p>
        <p class="weui-footer__text">Copyright © 2019-2020 richyan.com</p>
  </div>
    <script src="/js/zepto.min.js"></script>
    {{#if signPackage}}
        <script src="/js/jweixin-1.4.0.js"></script>
        <script>
            var signPackage = {{{signPackage}}};
        
            wx.config({
                debug: true,
                appId: signPackage.appId,
                timestamp: signPackage.timestamp,
                nonceStr: signPackage.nonceStr,
                signature: signPackage.signature,
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'scanQRCode'
                ]
            });

            wx.ready(function () {
                console.log('wx.ready');
                wx.onMenuShareTimeline({
                    title: '海运拼箱 网页', // 分享标题
                    link: window.location.href, // 分享链接
                    imgUrl: '',
                    success: function () {
                        console.log('share success');
                    },
                    cancel: function () {
                        console.log('share cancel');
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '海运拼箱 微信', // 分享标题
                    link: window.location.href, // 分享链接
                    imgUrl: '',
                    success: function () {
                        console.log('share success');
                    },
                    cancel: function () {
                        console.log('share cancel');
                    }
                });
            });
        </script>
        {{{_sections.script}}}
    {{/if}} 
  </body>
</html>
